:root{
    --O-color:#2196f3;
    --X-color:#f44336;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms;
}

body{
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 100vh;
    background: #eee;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,240px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
}

.board.game-over{
    opacity: 0.5;
}

.cell{
    display: grid;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #00000066;

    cursor: pointer;
}

.cell.O{
    background-color: var(--O-color);

}

.cell.X{
    background-color: var(--X-color);
}

.cell.O , .cell.X, .game-over .cell{
    cursor: not-allowed;
}

.cell:not(.O):not(.X):hover{
    box-shadow: 0 0 3px 0px #00000085;
    transform: scale(1.1);
}